*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea{
  display: none;
}
html, body{
  height:100%;
  background-color: black;
  overflow-x: hidden;
}

#console{
  min-height: 100%;
  background-color: black;
  color:white;
  font-family: monospace;
  white-space: pre-wrap;
  padding: 1em;
  font-size: 18px;
}

#file-input{
  display: none;
}
#search{
  -webkit-appearance: none;
  display: inline-block;
  outline: none;
  padding-right:2px;
  border:none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  width:calc(100% - 100px);
  height:50px;
}

#canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: black;
  display: none;
}

#canvas.visible{
  display: block;
}

.img{
  width:300px;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: underline;
    cursor: pointer;
}
