@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #141516;
  border-top: 1px solid black;
  color: #606062;
}
.footer .pos {
  width: auto;
}
.footer div, .footer a {
  text-align: center;
  padding: 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.footer div svg, .footer a svg {
  width: 20px;
  height: 20px;
  fill: #606062;
  stroke-width: 0;
}
.footer .center {
  flex: 1;
}

@media (min-width: 0px) and (max-width: 580px) {
  .footer {
    display: none;
  }
}
.top-bar {
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #141516;
  display: flex;
  border-bottom: 1px solid #000000;
  align-items: center;
}
.top-bar svg {
  width: 16px;
  height: 16px;
}
.top-bar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 1em;
  margin-left: 1em;
}
.top-bar h1 {
  font-size: 1.1em;
  margin-right: 1.2em;
  color: #919295;
}
.top-bar .tabs {
  flex: 1;
  display: flex;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 99;
}
.top-bar .tabs::-webkit-scrollbar {
  display: none;
}
.top-bar .tabs .tab {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 1em;
  color: #919295;
  cursor: pointer;
  border-left: 1px solid #000000;
  outline: none;
  transition: background-color 100ms linear;
}
.top-bar .tabs .tab:focus {
  background-color: #0D0D0E;
}
.top-bar .tabs .tab:hover {
  background-color: #0D0D0E;
}
.top-bar .tabs .tab:last-of-type {
  border-right: 1px solid #000000;
}
.top-bar .tabs .tab .close {
  margin-left: 1em;
}
.top-bar .tabs .tab.selected {
  color: #fff;
  background-color: #0D0D0E;
}
.top-bar .tabs .tab.selected svg {
  color: #fff;
}

@media (min-width: 0px) and (max-width: 580px) {
  .top-bar {
    padding-left: 0;
    padding-right: 0;
  }
}
.side-bar {
  width: 300px;
  height: 100%;
  background-color: #141516;
  color: #919295;
  position: relative;
}
.side-bar .resizer {
  position: absolute;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  z-index: 2;
}
.side-bar .folder {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.side-bar .folder.open .links {
  display: block;
}
.side-bar .folder.open .chevron {
  transform: rotate(90deg);
}
.side-bar .folder .chevron {
  transform: rotate(0deg);
}
.side-bar .folder .chevron svg {
  fill: transparent;
}
.side-bar .folder .title {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  outline: none;
}
.side-bar .folder .title:focus {
  background-color: #0D0D0E;
}
.side-bar .folder .title span {
  display: flex;
  align-items: center;
}
.side-bar .folder .title svg {
  height: 16px;
  width: 16px;
  margin: 3px;
}
.side-bar .folder .title .folder-icon svg {
  fill: #919295;
}
.side-bar .links {
  display: none;
  overflow: hidden;
}
.side-bar .links div {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 26px;
  cursor: pointer;
  outline: none;
  border-left: 2px solid transparent;
  transition: background-color 100ms linear;
}
.side-bar .links div:hover, .side-bar .links div:focus, .side-bar .links div.selected {
  background-color: #0D0D0E;
}
.side-bar .links div.selected {
  border-left: 2px solid white;
}
.side-bar .links div:hover {
  text-decoration: underline;
}

@media (min-width: 0px) and (max-width: 580px) {
  .side-bar {
    display: none;
  }
}
/* Base16 Atelier Cave Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
/* Atelier-Cave Comment */
.hljs-comment,
.hljs-quote {
  color: #7e7887;
}

/* Atelier-Cave Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-regexp,
.hljs-link,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #be4678;
}

/* Atelier-Cave Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #aa573c;
}

/* Atelier-Cave Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #2a9292;
}

/* Atelier-Cave Blue */
.hljs-title,
.hljs-section {
  color: #576ddb;
}

/* Atelier-Cave Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #955ae7;
}

.hljs-deletion,
.hljs-addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #be4678;
}

.hljs-addition {
  background-color: #2a9292;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #19171c;
  color: #8b8792;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.page {
  background-color: #0D0D0E;
  width: 100%;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: scroll;
  position: relative;
  border-left: 1px solid #000000;
}
.page code {
  padding: 1em;
  padding-top: 0em;
  font-size: 18px;
  background-color: #0D0D0E;
  font-family: inherit;
}
.page pre {
  font-family: inherit;
  line-height: 1em;
  white-space: break-spaces;
}
.page .content {
  position: relative;
  flex: 1;
  padding: 1em;
  color: #737475;
  min-height: min-content;
}
.page .content > div {
  min-height: 100vh;
  padding-bottom: 1em;
}
.page .content h1,
.page .content h2,
.page .content h3 {
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.page .content h1 {
  border-bottom: 1px solid #737475;
}
.page .content a {
  color: #737475;
}
.page .content a:visited {
  color: #737475;
}
.page .numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30px;
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #323232;
  width: 2em;
}
.page .numbers span {
  margin-top: 5px;
  margin-bottom: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: fixed;
  background-color: #141516;
}
html.resizing, body.resizing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: col-resize !important;
}

body,
.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

.resizable {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.resizable .element {
  display: contents;
}

.hide {
  display: none;
}

/*# sourceMappingURL=index.css.map */
