$tob-bar-bg: #141516;
$top-bar-tab-underline: #fff;
$top-bar-tab-underline-fg: #fff;
$top-bar-fg: #919295;

$footer-bg: #141516;
$footer-fg: #606062;

$side-bar-bg: #141516;
$side-bar-fg: #919295;

$page-bg: #0D0D0E;
$page-fg: #737475;
$page-numbers-color: #323232;

$dark:#000000;



@mixin noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}