$tob-bar-bg: #1e2238;
$top-bar-tab-underline: #7aaafe;
$top-bar-tab-underline-fg: rgb(205, 203, 230);
$top-bar-fg: #4a4b73;

$footer-bg: #1e2238;
$footer-fg: #4a4b73;

$side-bar-bg: #1e2238;
$side-bar-fg: #50527e;

$page-bg: rgb(47, 46, 85);
$page-numbers-color: rgba(82, 81, 131);
$page-fg: rgb(163 163 197);
