@use 'colors';

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: colors.$footer-bg;
  border-top: 1px solid black;
  color: colors.$footer-fg;

  .pos {
    width: auto;
  }



  div, a {
    text-align: center;
    padding: 10px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      fill: colors.$footer-fg;
      stroke-width: 0;
    }
  }
  .center {
    flex: 1;
  }
}

@media (min-width: 0px) and (max-width: 580px) {
  .footer{
    display: none;
  }
}