@use 'Footer';
@use 'colors';
@use 'TopBar';
@use 'SideBar';
@use 'Page';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: fixed;
  background-color: colors.$tob-bar-bg;
  &.resizing{
    @include colors.noselect;
    cursor: col-resize !important;
  }
}

body,
.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

.resizable {
  flex: 1;
  display: flex;
  overflow: hidden;
  .element {
    display: contents;
  }
}

.hide{
  display: none;
}
